# Question 1 :
### Create a Data Frame with all the data in RHS-2019-PHC_Doctors excel sheet.

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('/media/abhishek/589E61B39E618A781/C-DAC Document/Advanced Analytics/Assignment/Datasets/RHS-2019-PHC_Doctors.csv')

In [6]:
df.head(5)

,S. No.,State,Doctors_Required_in_state_2005,2005 - Doctors at PHCs - Sanctioned - (S),2005 - Doctors at PHCs - In Position - (P),2005 - Doctors at PHCs - Vacant - (S-P),2005 - Doctors at PHCs - Shortfall - (R-P),Doctors_Required_in_state_2019,2019 - Doctors at PHCs - Sanctioned - (S),2019 - Doctors at PHCs - In Position - (P),2019 - Doctors at PHCs - Vacant - (S-P),2019 - Doctors at PHCs - Shortfall - (R-P),Note of 2005 - Doctors at PHCs - Vacant - (S-P),Note of 2005 - Doctors at PHCs - Shortfall - (R-P),Note of 2019 - Doctors at PHCs - Vacant - (S-P),Note of - 2019 - Doctors at PHCs - Shortfall - (R-P)
0,1,Andhra Pradesh,1570.0,2497.0,2137.0,360.0,NaN,1145,1862.0,1715,147.0,NaN,NaN,*,NaN,*
1,2,Arunachal Pradesh,85.0,78.0,78.0,0.0,7.0,143,NaN,116,NaN,27.0,NaN,NaN,NaN,NaN
2,3,Assam,610.0,NaN,NaN,NaN,NaN,946,NaN,1925,NaN,NaN,NaN,NaN,NaN,*
3,4,Bihar,1648.0,NaN,NaN,NaN,NaN,1899,NaN,2085,NaN,NaN,NaN,NaN,NaN,*
4,5,Chhattisgarh,517.0,1034.0,628.0,406.0,NaN,792,792.0,321,471.0,471.0,NaN,*,NaN,NaN

# Question 2 :
### Find the state-wise required number of doctors in 2005 and 2019.

In [4]:
result = df[['State', 'Doctors_Required_in_state_2005', 'Doctors_Required_in_state_2019']]

In [5]:
result

,State,Doctors_Required_in_state_2005,Doctors_Required_in_state_2019
0,Andhra Pradesh,1570.0,1145
1,Arunachal Pradesh,85.0,143
2,Assam,610.0,946
3,Bihar,1648.0,1899
4,Chhattisgarh,517.0,792
5,Goa,19.0,24
6,Gujarat,1070.0,1476
7,Haryana,408.0,379
8,Himachal Pradesh,439.0,586
9,Jammu & Kashmir,334.0,622
10,Jharkhand,561.0,298
11,Karnataka,1681.0,2127
12,Kerala,911.0,848
13,Madhya Pradesh,1192.0,1199
14,Maharashtra,1780.0,1828
15,Manipur,72.0,90
16,Meghalaya,101.0,118
17,Mizoram,57.0,59
18,Nagaland,87.0,126
19,Odisha,1282.0,1288
20,Punjab,484.0,416
21,Rajasthan,1713.0,2082
22,Sikkim,24.0,29
23,Tamil Nadu,1380.0,1422
24,Telangana,NaN,636
25,Tripura,73.0,108
26,Uttarakhand,225.0,257
27,Uttar Pradesh,3660.0,2936
28,West Bengal,1173.0,908
29,A& N Islands,20.0,22
30,Chandigarh,0.0,0
31,D & N Haveli,6.0,9
32,Daman & Diu,3.0,4
33,Delhi,8.0,5
34,Lakshadweep,4.0,4
35,Puducherry,39.0,24
36,All India2/Total,23236.0,24855

# Question 3 :
### Find the states with required number of doctors more than 1000 in 2019.

In [6]:
year = df[df.Doctors_Required_in_state_2019 > 1000]

In [7]:
year['State']

0       Andhra Pradesh
3                Bihar
6              Gujarat
11           Karnataka
13      Madhya Pradesh
14         Maharashtra
19              Odisha
21           Rajasthan
23          Tamil Nadu
27       Uttar Pradesh
36    All India2/Total
Name: State, dtype: object

# Question 4 :
### Find the total number of required doctors in all states and UTs.

In [8]:
result.iloc[:36,:].sum()

State                             Andhra PradeshArunachal PradeshAssamBiharChhat...
Doctors_Required_in_state_2005                                              23236.0
Doctors_Required_in_state_2019                                                24855
dtype: object

# Question 5 :
### Create a Data Frame with all the data in RHS-2019-SC-PHC_CHC excel sheet.

In [9]:
df1 = pd.read_csv('Data/RHS-2019-SC-PHC_CHC.csv')

In [10]:
df1.head(5)

,S. No.,State,2005 - Sub Centre,2005 - PHCs,2005 - CHCs,2019 - Sub Centre + HWC-SCs,2019 - PHCs + HWC-PHCs,2019 - CHCs
0,1,Andhra Pradesh,12522.0,1570.0,164.0,7437,1145,140
1,2,Arunachal Pradesh,379.0,85.0,31.0,385,143,63
2,3,Assam,5109.0,610.0,100.0,4643,946,177
3,4,Bihar,10337.0,1648.0,101.0,9949,1899,150
4,5,Chhattisgarh,3818.0,517.0,116.0,5205,792,170

# Question 6 :
### Join both the Data Frames to show number of PHCs and in position doctors for the year 2005.

In [13]:
pd.merge(df,df1, on = 'State').head(5)

,S. No._x,State,Doctors_Required_in_state_2005,2005 - Doctors at PHCs - Sanctioned - (S),2005 - Doctors at PHCs - In Position - (P),2005 - Doctors at PHCs - Vacant - (S-P),2005 - Doctors at PHCs - Shortfall - (R-P),Doctors_Required_in_state_2019,2019 - Doctors at PHCs - Sanctioned - (S),2019 - Doctors at PHCs - In Position - (P),...,Note of 2005 - Doctors at PHCs - Shortfall - (R-P),Note of 2019 - Doctors at PHCs - Vacant - (S-P),Note of - 2019 - Doctors at PHCs - Shortfall - (R-P),S. No._y,2005 - Sub Centre,2005 - PHCs,2005 - CHCs,2019 - Sub Centre + HWC-SCs,2019 - PHCs + HWC-PHCs,2019 - CHCs
0,1,Andhra Pradesh,1570.0,2497.0,2137.0,360.0,NaN,1145,1862.0,1715,...,*,NaN,*,1,12522.0,1570.0,164.0,7437,1145,140
1,2,Arunachal Pradesh,85.0,78.0,78.0,0.0,7.0,143,NaN,116,...,NaN,NaN,NaN,2,379.0,85.0,31.0,385,143,63
2,3,Assam,610.0,NaN,NaN,NaN,NaN,946,NaN,1925,...,NaN,NaN,*,3,5109.0,610.0,100.0,4643,946,177
3,4,Bihar,1648.0,NaN,NaN,NaN,NaN,1899,NaN,2085,...,NaN,NaN,*,4,10337.0,1648.0,101.0,9949,1899,150
4,5,Chhattisgarh,517.0,1034.0,628.0,406.0,NaN,792,792.0,321,...,*,NaN,NaN,5,3818.0,517.0,116.0,5205,792,170